@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using JumpingUnicorn.Database;
@using JumpingUnicorn.Data;
@inject IHttpContextAccessor _httpContextAccessor
@inject HttpClient Http
@inject FirebaseContext db;
@if (User.Identity.Name != null && user != null)
{
    <img src="@user.GoogleAvatar" width="56"  height="56"/>
    <b>You are logged in as: @user.Username</b>
    <a class="ml-md-auto btn btn-primary"
   href="/Identity/Logout"
   target="_top">Logout</a>
}
else
{
    <a class="ml-md-auto btn btn-primary"
   href="/Identity/Login"
   target="_top">Login</a>
}
@code {
    private ClaimsPrincipal User;
    private User user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Set the user to determine if they are logged in
            User = _httpContextAccessor.HttpContext.User;

            var id = _httpContextAccessor.HttpContext.User
                .FindFirst(ClaimTypes.NameIdentifier).Value;

            user = await db.GetUserAsync(id);

        }
        catch { }
        await base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
    }


}