@inherits LayoutComponentBase

<PageTitle>JumpingUnicorn</PageTitle>

<div class="page">
        <main>
        <div class="top-row">
            <LoginControl/>
        </div>

        <article class="">
            @Body
        </article>
    </main>
</div>
