@page "/"

<PageTitle>Index</PageTitle>

<!DOCTYPE html>
<html>
<div class="mainBackgroundIMG" >
    <div class="LogoContainer">
        <img class="Logo" src="/Images/JumpingUnicornLogo.png" />
    </div>
    <div class="ButtonsContainer">
        <button class="CloudyButton" >Leaderboard</button>
        <button class="CloudyButton" onclick="location.href = 'https://localhost:7224/Game'">New Game</button>
    </div>
    <div class="CurrentAvatarContainer">
        <img class="CurrentAvatar" src="/Images/Unicorns/Unicorn1MediumTransparent.gif" />
    </div>
    <div class="PickAvatarContainer">
        <img class="PickAvatar" src="/Images/Unicorns/Unicorn2MediumTransparent.gif"/>
    </div>
</div>

</html>
@code {

}

