@page "/RegisterUsername"
@using JumpingUnicorn.Models;
@using JumpingUnicorn.Database;
@using System.Security.Claims;
@using System.Text.RegularExpressions;
@inject NavigationManager NavManager
@inject IHttpContextAccessor _httpContextAccessor
@inject FirebaseContext firebase;

<h3>RegisterUsername</h3>

<EditForm Model="@model" OnValidSubmit="@HandleUsername">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="name" @bind-Value="model.Username"/>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private UsernameModel model = new();

    public async Task HandleUsername()
    {
        Console.WriteLine("En nigget har skrevet: " + model.Username);

        Regex regex = new Regex("</{0,}[A-z =\"'/]{1,}>");

        string usernameSanitized = regex.Replace(model.Username, "");

        await firebase.SetUsernameAsync(_httpContextAccessor.HttpContext.User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).FirstOrDefault().Value, usernameSanitized);
        NavManager.NavigateTo("/");
    }

}
