@page "/RegisterUsername"
@using JumpingUnicorn.Models;
@using JumpingUnicorn.Database;
@using System.Security.Claims;
@inject IHttpContextAccessor _httpContextAccessor
@inject IAuthorizationHandler handler;
@inject FirebaseContext firebase;

<h3>RegisterUsername</h3>

<EditForm Model="@model" OnValidSubmit="@HandleUsername">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="name" @bind-Value="model.Username"/>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private UsernameModel model = new();

    public async Task HandleUsername()
    {
        Console.WriteLine("En nigget har skrevet: " + model.Username);
        await firebase.SetUsername(_httpContextAccessor.HttpContext.User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).FirstOrDefault().Value, model.Username);
    }

}
